/*General*/
*{
    max-width: 100%;
    border-radius: .1em;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #4789c6;
}
::selection {
    color: white;
    background: #4789c6;
}
html{
    scroll-behavior: smooth;
}
.hide{
    display: none;
}
main.schedule > ul > li:last-of-type{ /*Hides last li element (is empty in schedule)*/
    display: none;
}
/*General List styling*/
footer ul, 
footer ol, 
footer dl, 
.schedule > ul, 
.schedule > ol, 
.schedule > dl, 
nav > ul, 
nav > ol, 
nav > dl{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Basic page structure styling*/
body{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1vh 0;
}
body > header {
    height: 4em;
    display: flex;
    flex: row;
    padding: 0 1em;
    width: 100%;
}
body > header *{
    height: 100%;
}
body > header nav{
    flex: 100% 1 1;
    display: flex;
    justify-content: flex-end;
}
body > header nav ul{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
}
body > header nav ul li{
    height: fit-content;
    display: flex;
    align-self: center;
}
nav i, footer i, .back-button i{
    margin: .3em;
    transition: ease-in-out .2s;
    cursor: pointer;
}
nav i:hover, footer i:hover, .back-button i:hover{
    color: white;
    background: #4789c6;
    padding: .3em;
    margin: 0;
}
main{
    margin: 0 2vw;
    flex: 60% 1 1;
}
main header{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
}
main header h1{
    margin: 0
}
aside{
    flex: 10% 1 0;
    padding: 0 2vw;
    background: #deebf1;
    border-top: solid 0.5em #4789c6;
    max-width: 92vw;
    margin: 0 auto 2em auto;
}
aside ul{
    list-style: none;
    padding: 0;
}
footer{
    height: 5em;
    display: flex;
    flex-direction: row;
    width: 100%;
}
footer .social{
    flex:  100% 1 1;
    display: flex;
    justify-content: center;
}
footer .social ul{
    display: flex;
    flex-direction: row;
    gap: 3em;
}
footer .social ul li{
    height: fit-content;
    display: flex;
    align-self: center;
}
/*Common styling*/
.assignment i{
    align-self: center;
    text-decoration: none;
}
.assignment time {
    margin: 0 0.5em;
}
.assignment, .input{
    background-color: #4789c6;
    color: white;
    font-weight: bold;
    padding: .5em;
    display: inline-block;
    text-decoration: none;
    margin: .5em 0;
}
.assignment-list .assignment{
    display: flex;
}
.test{
    background-color: #da0646;
}
.input select, .input select:hover,
.input select:active,
.input select:focus-visible{
    border: none;
    background-color: inherit;
    font-weight: inherit;
    color: #fff;
    font-size: inherit;
}
/*external.html*/
.iframe-external{
    width: 100%;
    height: 80vh;
}
/*schedule.html*/
.schedule h2, aside h3{
    border-radius: 0;
    padding-top: .5rem;
}
.schedule > ul > li:not(:last-of-type) {
    padding-bottom: 3em;
    border-bottom: 0.1rem solid #000a;
}
.current-week:first-of-type h2, .group h3{
    border-top: unset;
    padding-top: unset;
    border-bottom: .1rem solid #0004;
    border-radius: 0;
    padding-bottom: .5rem;
}
.week-assignment-list{
    list-style: none;
    padding: 0;
    margin: 1em 0;
}
/*index.html*/
.group {
    border-top: solid 0.5em #4789c6;
    background: #deebf1;
    padding: 1em;
    margin: 0 0 2em 0;
}
.group section{
    display: flex;
    flex-wrap: wrap;
    gap: 0em;
    margin-bottom: 2em;
}
.group section > *{
    display: block;
    flex: min-content 1 1;
}
.group section > a{
    color: inherit;
    text-decoration: none;
    transition: ease-in-out .2s;
    margin: 0 1em;
}
.group section > a:hover{
    color: white;
    background: #4789c6;
    padding: 0 1em;
    margin: 0;
}
.group section > a:hover .assignment:not(.test){
    background: white;
    color: #4789c6;
}
.group section > a h3{
    width: max-content;
}
/*assignment.html*/
main.assignment-description-container{
    max-width: 70%;
    margin: 0 auto;
}
.assignment-description-container h2{
    margin-top: 2em;
}
.assignment-description-container hr{
    margin-top: 4em;
}
.back-button-container{
    position: absolute;
    top: 10vh;
    left: 1vw;
    height: calc(100% - 10vh);
}
.back-button{
    position: sticky;
    top: 3vw;
    padding-top: 20%;
    height: min-content;
    background: none;
    border: none;
    color: #4789c6;
    font: size 4vw;
    font-size: max(1em);
}
/* EditorJS */
div#editorjs {
    max-width: 70%;
    margin: 0 auto;
}
.ce-toolbar__actions{
    margin-right: 1em;
}
.dark .ce-toolbar__actions {
    background: white;
}
.dark .ce-block--selected .ce-block__content{
    background: #4789c6;
}
/*dark and oled styling*/
.dark{
    background-color: #363434;
    color: white;
}
.dark .group, .dark aside{
    background-color: #222222;
}
.dark .current-week {
    background-color: #4f604f;
}
.oled{
    background-color: #000;
    color: white;
}
.oled .group, .oled aside{
    background-color: #000;
}
.oled .current-week {
    background-color: #4f604f;
}
.oled .schedule > ul > li, 
.oled aside h3, 
.oled .current-week:first-of-type h2, 
.oled .group h3{
    border-color: #AAA;
}
.dark .branding img, .oled .branding img{
    filter: grayscale(1) contrast(0) invert(1) brightness(2);
}
.dark .schedule > ul > li, 
.dark aside h3,
.dark .current-week:first-of-type h2, 
.dark .group h3{
    border-color: #fff;
}
.dark .current-week h2, 
.dark .group h3{
    border-color: #fff;
}
.dark pre,
.oled pre{
    filter: invert(1)
}