html{
    font-size: 2.5vmax;
    font-size: max(2.5vh);
    font-family: 'Atkinson Hyperlegible';
}
body{
    font-size:0.9em; /* Change this for general text size */
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    border-bottom: .1rem solid #000
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.3em;
}
h5{
    font-size: 1.2em;
}
h6{
    font-size: 1.1em;
}

strong{
    background-color: rgb(255, 132, 132);
    padding: .5ch 1ch;
    display: inline-block;
    transform: translateY(-0.5ch);
}

a{
    color: #4789c6;
}

i{
    font-size: 1.5em;
    margin: 0 .5ch;
}
.mermaid i{
    font-size: unset;
    margin: unset;
}
main i{
    transform: translateY(10%)
}

.current-week{
    background-color: #e4f9e4;
    padding: 0.5em;
}
.current-week a{
    display: block;
    text-align: right;
}



@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');