html{
    font-size: 2.5vmax;
    font-size: max(2.5vh);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #272932;
}
body{
    font-size:0.9em; /* Change this for general text size */
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}
h5{
    font-size: 1.2em;
}
h6{
    font-size: 1.1em;
}

strong{
    background-color: #da0646;
    color: #FFF;
    padding: .5ch 1ch;
    display: inline-block;
}

a{
    color: #4789c6;
    text-decoration: none;
}
a:hover a:not(.test){
    color: #dead40;
}

i{
    font-size: 1.5em;
    margin: 0 .5ch;
}
.mermaid{
    font-family: unset;
    font-size: unset;
    margin: unset;
}
main i{
    transform: translateY(10%)
}
main > h1{
    position: relative;
    display: flex;
}
main h1 a{
    flex: 1 1;
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
}

main > h1 i{
    font-size: .6em;
    display: flex;
    align-items: center;
}

.current-week{
    background-color: #e4f9e4;
    padding: 0.5em;
}
.current-week .jump-link{
    display: block;
    text-align: right;
}

.ce-toolbox {
    color: black;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: normal;
    src: local('../resources/typography/AtkinsonHyperlegible-Regular.ttf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: bold;
    src: local('../resources/typography/AtkinsonHyperlegible-Bold.ttf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: normal;
    src: local('../resources/typography/AtkinsonHyperlegible-Italic.ttf');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: italic;
    font-weight: bold;
    src: local('../resources/typography/AtkinsonHyperlegible-BoldItalic.ttf');
}
