# HTML & CSS Basics  

_Det är dags att ta de första trevande stegen in i webbutvecklingens vackra värld!_

---    

## Förutsättningar    

Enskild uppgift.

## Resurser

* [Codepen - Uppgiften](https://codepen.io/seetee/pen/eYVEyrZ?editors=1100)
* [Instruktion för hur man skapar en fork på Codepen](https://blog.codepen.io/documentation/forks/)
* [W3Cs lista över namngivna färger](https://www.w3.org/wiki/CSS/Properties/color/keywords)

> Tips! För att kunna slutföra uppgiften är det bra om du vet hur man öppnar högerklick-menyn i webbläsaren, men också hur du tar ett screenshot av en hel webbsida!    

## Uppgiftsbeskrivning    

Logga in på Codepen och skapa en fork (eller kopia) till ditt eget konto av uppgiften som är länkad ovan. Rör inte HTML-koden. Men ändra alla CSS-värden några gånger och se vad de gör. Det finns både färger och textegenskaper att leka med. 

## Förväntat resultat     

Efter uppgiften skall du förstå hur kan använda Codepen till att skriva och dela kod. Du skall också förstå hur taggar i HTML ser ut och fungerar, samt hur CSS är strukturerat. När du slutfört denna uppgiften skall du på ditt konto på Codepen ha en pen där HTML-koden är densamma som i orginalet, fast med nya CSS-värden.    

### Vilka filer?

Ett screenshot av din färdiga sida i png-format, samt en länk till din pen.     

### Var skall de lämnas in?

Det finns en inlämningsuppgift i Haldor med samma namn som denna instruktion. Lämna in både länk och bild där.     

---     

[![Creative Commons-licens](https://i.creativecommons.org/l/by-sa/4.0/80x15.png)](http://creativecommons.org/licenses/by-sa/4.0/) Detta dokument är licensierat under en [Creative Commons Erkännande-DelaLika 4.0 Internationell Licens](http://creativecommons.org/licenses/by-sa/4.0/).    
Bilder och fotografier tillhör respektive upphovsman, och befinner sig inte nödvändigtsvis under en Creative Commons-licens.    
